:root{
    --purple: #9E458F;
    --white: #FFFFFF;
    --greyBack: #FCFBFE;
    --greytext: #89888C;
    --pinkBack: #F6ECF5;
    --darkest-pink: #b9738880;
    --dark-pink: #b9738834;
    --lightest-blue: #d4f0f1a9;
    --main-banner-back: #59CDB2;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}

/* Navbar CSS Code --start */


.navbar_group{
    position: sticky;
    top:0;
    z-index: 2;
}

.navbar_status{
    background-color: var(--purple);
    height: 1.8rem;
    color: var(--white);
}

.nav_list{
    list-style-type: none;
}


.nav_list_status > li {
    margin-top: 2px;
    margin-left: 1rem;
    margin-right: 1.5rem;
    float:right;
    font-size: 0.9rem;
}
.nav_list > li > a{
    color: inherit;
    text-decoration: none;
}

#currencyDropdown, #currencyDropdown:focus{
    border: none;
    background-color: inherit;
    color: inherit;
    margin-top: 5px;
}

select option{
    background-color: var(--purple);
}
.nav_list_status > li:nth-child(2)::after, .nav_list_action_btn > li:nth-child(1)::after{
    content: "|";
    padding-left: 1.5rem;
    font-size: 1.2rem;
}
.navbar_main{
    background-color: var(--greyBack);
}
.navbar_main > .container{
    display: flex;
    justify-content: space-between;
}

.nav_list_action_btn_group{
    position: relative;
    bottom: 5px;
    height: inherit;
}

.nav_list_action_btn > li:nth-child(2), .nav_list_action_btn > li:nth-child(4){
    display: none;
}

.nav_list_main, .nav_list_action_btn{
    padding: 1rem 0.5rem;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav_list_action_btn{
    flex-grow: 1;
    margin-right: 1.5rem;
    padding:0;
    height: 100%;
}

.nav_list_main{
    flex-grow: 8;
    width: auto;
}

.nav_list_main > li{
    margin: auto 0.5rem;
    color: var(--greytext);
}

.nav_list_main_group{
    width: 68%;
}
.nav_list_action_btn > li{
    position: relative;
    bottom: 2px;
    float: right;
    color: var(--greytext);
}

.nav_list_action_btn > li:nth-child(1){
    margin-right: 1.5rem;
}

.shopping_cart_icon, .login_icon{
    margin-left: 5px;
    color: var(--greytext);
    position: relative;
    top: 6px;
}

.nav_list_action_btn > li:nth-child(1) > p{
    display: inline;
}


.search_input{
    border: none;
    height: 16.2px;
    width: 90%;
    background-color: var(--white);    
}
.search_input:focus, #locationDropdown:focus{
        outline: none;
}
#locationDropdown{
    border: none;
    height: 20.2px;
    background-color: var(--white);
    color: inherit;
}

#locationDropdown > option{
    background-color: var(--white);
    color: inherit;
}
.search_btn{
    float: right;
    width: 20px;
    height: 19.5px;
    border: none;
    cursor: pointer;
    background-color: var(--white);
}

.location_btn{
    float: left;
    width: 20px;
    height: 20.5px;
    border: none;
    background-color: var(--white);

}

.search_icon, .location_icon{
    font-size: 16px !important;
}

.search_box{
    width: 40%;
}

.input_with_icon{
    border: 1px solid var(--greytext);
    border-radius: 5px;
    padding: 5px 5px;
    background-color: var(--white);
}

.nav_list_menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.nav_list_menu >li{
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-right: 0.5rem;
}


.navbar_menu{
    width: 100%;
    position: relative;
    overflow-x: auto;
    background-color: var(--pinkBack);
}

.expand_more_icon{
    position: relative;
    top: 5px;
    font-size: 20px !important;
}

/* Navbar CSS Code --end */

/* Cake-Variety - Section CSS Code --end */

/* Scrollbar custom css Start  */

/* width */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 7px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9e458fb7; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9e458f; 
  }

  /* Scrollbar custom css end  */

@media only screen and (max-width: 1440px){
}

/* media Queries for Laptop and max-width 1280 px */

@media only screen and (max-width: 1279px){
    .location_box{
        display: none;
    }

    .search_box{
        width: 40%;
    }
    .nav_list_menu{
        width: max-content;
        margin-left: 1rem;
    }

    /* .nav_list_menu > li{
        width: max-content;
        margin: 0 10px;
    } */
}
@media only screen  and (max-width: 858px) and (min-width: 768px ) {

    .nav_list_action_btn > li:nth-child(1)::after{
        padding-left: 0;
    }

    .nav_list_action_btn > li:nth-child(1){
        margin-right: 0px;
    }
}

@media only screen  and (max-width: 801px) and (min-width: 768px ) {
    .search_btn{
        position: relative;
        bottom:18px;
    }
    .search_box{
        position: relative;
        top: 5px;
    }
}
@media only screen  and (max-width: 778px) and (min-width: 768px ) {
    .search_btn{
        position: relative;
        bottom: 16px;
    }

}

/* media Queries for Mini-Tablet max-width 767 px */

@media only screen and (max-width: 767px){
    .navbar_status, .search_box{
        display: none;
    }

    .nav_list_main_div{
        width: auto;
    }

    .navbar_menu{
        display: none;
    }

    .nav_list_action_btn > li:nth-child(1), .nav_list_action_btn > li:nth-child(3){
        display: none;
    }
    .nav_list_action_btn > li:nth-child(2), .nav_list_action_btn > li:nth-child(4){
        display:inline-block;
    }
    .nav_list_action_btn > li:nth-child(2){
        margin-right: 1.5rem;
    }

    .gift_categories_list > div > p{
        display: none;
    }

    .gift_categories_list > div{
        max-width: 50px;
        min-width: 0;
        height: 50px;
        border-radius: 50%;
    }
}

/* media Queries for Mobile Max-width 425px */

@media only screen and (max-width: 425px){
    .navbar_top, .search_box{
        display: none;
    }
    .nav_list_action_btn > li:nth-child(2), .nav_list_action_btn > li:nth-child(4){
        display:none;
    }
}










